@tailwind base;
@tailwind components;
@tailwind utilities;


html.dark:root {
  --accent: 78 46 221;
  --accent-light: 107 74 255;
  --accent-strong: 48 13 204;

  --success: #20A443;
  --success-light: #33DD60;
  --success-strong: #086922;

  --destruct: #701313;
  --destruct-light: #9F1B1B;
  --destruct-strong: #510505;

  --neutral: 215 215 215;
  --neutral-light: 246 246 246;
  --neutral-strong: 70 69 71;

  --neutral2: #4F4F4F;
  --neutral2-light: #696969;
  --neutral2-strong: #272727;

  --surface-secondary: 11 11 11;
}
